.env.development.local
.env.test.local
.env.production.local
.next
node_modules
.git
.vscode
.agent
.gsd
.gemini
# scripts (Removed to allow migration scripts in builder)
docs
gsd-template
adapters
tmp
local_storage
Dockerfile
.dockerignore
npm-debug.log
README.md
build
dist
